@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

#g-nav {
    padding: 20px;
    position: fixed;
    z-index: 999;
    bottom: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #999;
    transition: all 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clsbtn {
    width: 60px;
    height: 60px;
    margin-top: 150px;
}

#g-nav.panelactive {
    bottom: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
}

.top {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #ddd;
    border-radius: 5px;
    max-width: 1000px;
    width: 100%;
    height: 300px;
    background-image: url(img/univ.jpg);
    background-position: center center;
    background-size: cover;
}

main {
    background-color: #ddd;
    border-radius: 5px;
    max-width: 1000px;
    width: 100%;

}

section {
    padding: 20px;
    border-radius: 5px;
}


.wipe {
    display: flex;
    align-items: center;
    width: 100%;
}

.juken {
    width: 300px;
    height: 200px;
    background-image: url(../img/kid-1529218_1920.jpg);
}

.jukensei {
    display: flex;
    flex-direction: column;
}

.picture {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.states {
    display: flex;
    flex-direction: column;
}

.player {
    margin-bottom: 20px;
}

.hpGauge {
    border: 1px solid #777;
    width: 500px;
    border-radius: 5px;
}

.playernemukeValue {
    height: 100%;
    width: 50px;
}

.playerhpValue {
    height: 100%;
    width: 50px;
}

.hpGaugeValue {
    height: 100%;
    background-color: #6b5;
    transition: .3s;
    width: 0%;
}

.nemukeGaugeValue {
    height: 100%;
    background-color: pink;
    transition: 0.3s;
    width: 0%;
}

playerhp {
    width: 960px;
}

.hp {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: 100;
    font-size: 30px;
}

.nemuke {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: 100;
    font-size: 30px;
}


.study {
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f44;
    color: black;
    border: 0px;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.heal {
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    color: black;
    border: 0px;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.sns {
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color: black;
    border: 0px;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.study.deactive {
    pointer-events: none;
    opacity: .5;
}

.container {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    width: 120px;
    height: 80px;
    padding: 5px;
    border-radius: 5pt;
    background-color: antiquewhite;
    font-size: small;
}


.heal.deactive {
    pointer-events: none;
    opacity: .5;
}

.sns.deactive {
    pointer-events: none;
    opacity: .5;
}

.text {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.text_area {
    width: 1000px;
    height: 100px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 5px;
}

.comment {
    font-size: larger;
    font-weight: bold;
}